.slider{
	
	
}

.img-container{
	display: flex;
	overflow: scroll;
}


.image{
	min-width: 100%;
	max-height: 100vh;
}

body {
	overflow-y: hidden; /* Hide vertical scrollbar */
	overflow-x: hidden; /* Hide horizontal scrollbar */
  }


  .img-container::-webkit-scrollbar {
	display: none;
  }

  .start{
	  padding: 15px;
	  position: relative;
	  top: -70px;
	  left: 140px;
	  background-color: rgb(19, 147, 197);
	  border: transparent;
	  border-radius: 20px;
	  font-size: 17px;
	  color: white;
	  font-family: Roboto;
	  padding: 15px 20px;
	  cursor: pointer;
  }